<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="root">
  <app-release-type-filter></app-release-type-filter>
  <p-table
    [value]="filteredAlbums()"
    [scrollable]="true"
    scrollHeight="flex"
    [scrollable]="true"
    [virtualScroll]="true"
    [virtualScrollItemSize]="77"
    sortField="firstReleaseDate"
    [sortOrder]="-1"
    dataKey="id"
  >
    <ng-template #header>
      <tr class="nonTransparentHeader">
        <th>Cover</th>
        @if (showArtist()) {
        <th pSortableColumn="artist.name">Artist <p-sortIcon field="artist.name" /></th>
        }
        <th pSortableColumn="title">Title <p-sortIcon field="title" /></th>
        <th pSortableColumn="firstReleaseDate">Date <p-sortIcon field="firstReleaseDate" /></th>
      </tr>
    </ng-template>
    <ng-template #body let-album>
      <tr>
        <td>
          <app-album-cover [album]="album"></app-album-cover>
        </td>
        @if (showArtist()) {
        <td>
          <a
            [routerLink]="['/artist', album.artist.id]"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >{{ album.artist.name }}</a
          >
        </td>
        }
        <td>
          <div class="artistCell">
            {{ album.title }}
            <p-chip [label]="album.primaryType" class="typeChip" />
            @for (secondaryType of album.secondaryTypes;track $index) {
            <p-chip [label]="secondaryType" class="typeChip" />
            }
          </div>
        </td>
        <td>{{ album.firstReleaseDate.toLocaleDateString() }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
