.artistCell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.375rem;
  align-items: center;
}
.imgPreview {
  width: min(80vw, 80vh);
  height: min(80vw, 80vh);
  object-fit: contain;
}
.root {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  gap: 0.5rem;
}
.album-cover {
  display: block;
  width: 48px;
  height: 48px;
}
