.root {
  display: grid;
  grid-template-rows: min-content 1fr;
  max-height: 100%;
  height: 100%;
  gap: 12px;
}
.textarea {
  width: 100%;
}
.input-fields {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: 128px;
  grid-auto-rows: auto;
  .actions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
    .message {
      flex-grow: 1;
    }
  }
}
.table-container {
  min-height: 0;
  max-height: 100%;
}

.messageGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.reviewPane {
  display: grid;
  gap: 12px;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .partialMatchList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
  }
}
.artist {
  height: 100%;
}
.tableActions {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-around;
}
