<p-table
  [value]="value()"
  [scrollable]="true"
  scrollHeight="flex"
  [value]="value()"
  [scrollable]="true"
  [sortField]="noScore() ? 'name' : 'score'"
  [sortOrder]="noScore() ? 1 : -1"
  size="small"
  dataKey="id"
>
  <ng-template #header>
    <tr class="nonTransparentHeader">
      @if (!noScore()) {
      <th pSortableColumn="score">Match <p-sortIcon field="score" /></th>
      }
      <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
      @if(!onlyName()) {
      <th pSortableColumn="area">Area <p-sortIcon field="area" /></th>
      <th pSortableColumn="begin">Begin <p-sortIcon field="begin" /></th>
      <th pSortableColumn="end">End <p-sortIcon field="end" /></th>

      } @if(!noAction()) {
      <th></th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-artist sel>
    <tr [ngClass]="!noHightlight() ? rowClass(artist) : undefined">
      @if (!noScore()) {
      <td>{{ artist.score }}</td>
      }
      <td>
        <a
          [routerLink]="['/artist', artist.id]"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ artist.name }}</a
        >
        <p-button link (click)="showDialog(artist)" class="artistPopupButton"
          ><i class="pi pi-window-maximize"></i
        ></p-button>
      </td>
      @if(!onlyName()) {
      <td>{{ artist.area }}</td>
      <td>{{ artist.begin?.toLocaleDateString() }}</td>
      <td>{{ artist.end?.toLocaleDateString() }}</td>
      } @if(!noAction()) {
      <td>
        @if(customActionIcon()) {
        <p-button
          icon="pi {{ customActionIcon() }}"
          (click)="customAction.emit(artist)"
          severity="secondary"
          [outlined]="true"
        />
        } @else {
        <p-button
          icon="pi {{ rowSelectionIcon(artist) }}"
          (click)="addArtist(artist)"
          [severity]="rowSelectionSeverity(artist)"
          [outlined]="true"
        />
        }
      </td>
      }
    </tr>
  </ng-template>
</p-table>
<p-drawer
  [visible]="!!selectedArtist()"
  (onHide)="selectedArtist.set(undefined)"
  position="bottom"
  [style]="{ height: '80vh', padding: '0.5rem' }"
>
  <ng-template #headless>
    @if (!!selectedArtist()) {
    <app-artist [value]="selectedArtist()?.id!" class="artist"></app-artist>
    }
  </ng-template>
</p-drawer>
