.selectedArtist {
  background: var(--p-datatable-row-selected-background);
  color: var(--p-datatable-row-selected-color);
}
.drawer {
  padding: 0 8px;
  height: 80vh;
}
.artist {
  height: 100%;
}
.artistPopupButton {
  @media (max-width: 640px) {
    display: none;
  }
}
