.selectedArtist {
  background: var(--p-datatable-row-selected-background);
  color: var(--p-datatable-row-selected-color);
}
.drawer {
  padding: 0 24px;
  height: 80vh;
}
.artist {
  height: 100%;
}
