.app-root {
  display: grid;
  gap: 12px;
  padding: 12px;
  grid-template-rows: min-content auto 1fr;
  height: 100vh;
  width: 100vw;
}
.messageGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.content {
  max-height: 100%;
  overflow: hidden;
}
.pageLinks {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
}
.menubarEnd {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
