.app-root {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  grid-template-rows: min-content 1fr auto;
  height: 100dvh;
  width: 100dvw;
}
.messageGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content {
  max-height: 100%;
  overflow: hidden;
}
.pageLinks {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.menubarEnd {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.progressBar {
  height: 1px;
  position: absolute;
  width: calc(100% - 24px);
  bottom: -1px;
  left: 12px;
}
