.root {
  display: grid;
  grid-template-rows: min-content 1fr;
  max-height: 100%;
  height: 100%;
}
.albumPanel {
  padding-top: 16px;
  display: grid;
  column-gap: 24px;
  row-gap: 8px;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
    'cover album-title'
    'cover tags'
    'cover artist-name'
    'cover release-date';
  .cover {
    grid-area: cover;
    height: 128px;
    width: 128px;
  }
  .album-title {
    padding: 0;
    margin: 0;
    grid-area: album-title;
  }
  .tags {
    grid-area: tags;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: start;
  }
  .artist-name {
    padding: 0;
    margin: 0;
    grid-area: artist-name;
  }
  .release-date {
    grid-area: release-date;
  }
}

.table-container {
  min-height: 0;
  min-width: 0;
  max-height: 100%;
  max-width: 100%;
}
