@import 'primeicons/primeicons.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.p-datatable-flex-scrollable {
  min-height: 0;
  min-width: 0;
}

.heightFixedFieldset {
  .p-fieldset {
    height: 100%;
    min-width: 0;
    .p-fieldset-content-container {
      min-width: 0;
      height: 100%;
      .p-fieldset-content {
        min-width: 0;
        height: 100%;
      }
    }
  }
}

.nonTransparentHeader {
  background: var(--p-fieldset-background);
}
